@model DashboardStatisticCardModel
<div class="card">
    <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between">
            <i style="font-size:xx-large" class="fas fa-users"></i>
        </div>
        <span>Misafir Sayısı</span>
        <h3 class="card-title text-nowrap mb-1">@Model.StatisticCardCount</h3>
        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
    </div>
</div>