@model List<DestinationMatchGuide>
<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
    @foreach (var item in Model)
    {
        <li data-bs-toggle="tooltip"
            data-popup="tooltip-custom"
            data-bs-placement="top"
            class="avatar avatar-xs pull-up"
            title="@item.Guide.Name @item.Guide.Surname">
            <a href="/Guide/GuideDetail/@item.Guide.Id">
            <img src="@item.Guide.ImageUrl" alt="Avatar" class="rounded-circle" />
            </a>
        </li>
    }
</ul>