@model CreateDestinationCommand
@{
    ViewData["Title"] = "CreateDestination";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">CQRS /</span> Tur Oluştur</h4>
    <div class="row">
        <h5 class="card-header">Yeni Tur Oluşturma </h5>
        <form method="post">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Ülke</label>
                            <input type="text"  class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Şehir</label>
                            <input type="text" id="ReceiverMail" class="form-control" asp-for="City" />

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gün</label>
                            <input type="text" id="Subject" class="form-control" asp-for="DayNight" />

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Kapasite</label>
                            <input type="text" id="Subject" class="form-control" asp-for="Capacity" />

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fiyat</label>
                            <input type="text" id="Text" class="form-control" asp-for="Price" />
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>