@model List<DestinationTag>
<div class="buttons-singles tags">
    <h4>Etiketler :</h4>
    @foreach (var item in Model)
    {
        <a href="/Destination/DestinationListForTag/@item.TagId">@item.Tag.TagName</a>
    }
</div>