@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @await Component.InvokeAsync("_HeadComponentPartial")
</head>
<body>
    @await Component.InvokeAsync("_NavbarComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_FooterComponentPartial")
    @await Component.InvokeAsync("_ScriptsComponentPartial")
</body>
</html>
