@model RegisterDto
@{
    Layout = null;
    RegisterDto registerDto = new RegisterDto();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Traversal - Yeni Üyelik Oluştur</title>
    <link rel="icon" type="image/png" href="~/images/icons/register-icon.ico" />
    <!-- Icons font CSS-->
    <link href="~/colorlib-regform-4/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/colorlib-regform-4/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/colorlib-regform-4/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/colorlib-regform-4/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/colorlib-regform-4/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Hesabınızı Oluşturun</h2>
                    <form method="post">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Ad</label>
                                    <input class="input--style-4" asp-for="Name" type="text" required="">
                                    <span asp-validation-for="Name" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Soyad</label>
                                    <input class="input--style-4" asp-for="Surname" type="text" required="">
                                    <span asp-validation-for="Surname" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Doğum Tarihi</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" asp-for="Birtday" type="date" required="">
                                        <span asp-validation-for="Birtday" style="color:darkred;font-size:smaller"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Meslek</label>
                                    <input class="input--style-4" type="text" asp-for="Profession">
                                    <span asp-validation-for="Profession" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">E-posta</label>
                                    <input class="input--style-4" type="email" asp-for="Email" required="">
                                    <span asp-validation-for="Email" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Telefon</label>
                                    <input class="input--style-4" type="text" asp-for="Phone" required="">
                                    <span asp-validation-for="Phone" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Parola</label>
                                    <input class="input--style-4" type="password" asp-for="Password" required="">

                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Kullanıcı Adı</label>
                                    <input class="input--style-4" type="text" asp-for="UserName" required="">
                                    <span asp-validation-for="UserName" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Tekrar Parola</label>
                                    <input class="input--style-4" type="password" asp-for="ConfirmPassword" required="">
                                    <span asp-validation-for="ConfirmPassword" style="color:darkred;font-size:smaller"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <div>
                                        <input required="" type="checkbox" id="agreeTerms" name="terms" value="agree">
                                        <label for="agreeTerms">
                                            <a href="/Register/PrivacyPolicy">Kullanım koşullarını</a> okudum, anladım, kabul ediyorum.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly">
                        </div>
                        <div class="row row-space">
                            <div class="col-1">
                            </div>
                            <div class="col-2 p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Hesap Oluştur</button>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                        <br />
                        <div class="row row-space">

                            <div class="col-1">
                            </div>
                            <div class="col-2">
                                <label>
                                    Zaten bir hesabın var mı? <a href="/Login/Index">Giriş Yap <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i></a>
                                </label>
                            </div>
                            <div class="col-1">
                            </div>                                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/colorlib-regform-4/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/colorlib-regform-4/vendor/select2/select2.min.js"></script>
    <script src="~/colorlib-regform-4/vendor/datepicker/moment.min.js"></script>
    <script src="~/colorlib-regform-4/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/colorlib-regform-4/js/global.js"></script>

</body>
</html>
<!-- end document-->