@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Excel/_ExcelLayout.cshtml";
}

<h1>Excel Rapor Sayfası</h1>
<br />
<a href="/Excel/StaticExcelReport" class="btn btn-outline-info">Statik Excel Raporları</a>
<br />
<br />
<a href="/Excel/DestinationExcelReport" class="btn btn-outline-warning">Tur Rotaları Excel Raporları</a>

