@model ApplicationDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Bizimle Çalışın</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Başvuru </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <form method="post" class="signin-form">
                <div class="contact-grids row">
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" asp-for=Name placeholder="Adınız" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for=Surname placeholder="Soyadınız" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="Surname">

                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for=Phone placeholder="Telefon Numaranız" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="Phone"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" asp-for=Email placeholder="E-posta Adresiniz" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" asp-for=HomeTown placeholder="Doğum Yeri" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="HomeTown"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for=Profession placeholder="Meslek" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="Profession"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for=MainLanguage placeholder="Ana Dil" class="contact-input" required="" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="MainLanguage"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for=OtherLanguage placeholder="2. Dil" class="contact-input" />
                                <span style="color:darkred;font-size:smaller" asp-validation-for="OtherLanguage"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="contact-grids row">
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="form-group">
                            <label clas="form-label">Doğum Tarihi</label> <input type="date" asp-for=Birtday placeholder="Doğum Tarihi" class="contact-input" required="" />
                            <span style="color:darkred;font-size:smaller" asp-validation-for="Birtday"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for=UserName placeholder="Kullanıcı Adı" class="contact-input" required="" />
                            <span style="color:darkred;font-size:smaller" asp-validation-for="UserName"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="form-group">
                            <label clas="form-label">Hakkında</label> <textarea asp-for=About required=""></textarea>
                            <span style="color:darkred;font-size:smaller" asp-validation-for="About"></span>
                        </div>
                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly">
                </div>
                <div class="contact-grids row">
                    <div class="text-right">
                        <button class="btn btn-style btn-primary">Başvuru Gönder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>