@model RegisterDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Bizimle Çalışın</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Başvuru </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <form method="post" class="signin-form">
                <div class="contact-grids row">
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Adınız" class="contact-input" required="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Soyadınız" class="contact-input" required="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Telefon Numaranız" class="contact-input" required="" />
                            </div>
                            <div class="form-group">
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="E-posta Adresiniz" class="contact-input" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Doğum Yeri" class="contact-input" required="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Meslek" class="contact-input" required="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Ana Dil" class="contact-input" required="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="w3lName" id="w3lName" placeholder="2. Dil" class="contact-input" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="contact-grids row">
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="form-group">
                            <label clas="form-label">Doğum Tarihi</label> <input type="date" name="w3lSender" id="w3lSender" placeholder="Doğum Tarihi" class="contact-input" required="" />
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                        <div class="form-group">
                            <label clas="form-label">Hakkında</label> <textarea name="w3lMessage" id="w3lMessage" required=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="contact-grids row">
                    <div class="text-right">
                        <button class="btn btn-style btn-primary">Başvuru Gönder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>