@model List<SocialMediaListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
    int count = 0;
}

<div class="modal fade" id="updateSocialMedia" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="staticBackdropLabel">Rol Güncelle</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-6">
                        <input type="hidden" id="SocialMediaId" />
                        <label for="Name" class="mt-1">Sosyal Medya Adı</label>
                        <input tabindex="0" type="text" id="Name" class="form-control mb-2" />
                        <label for="LogoUrl" class="mt-1">Logo Url</label>
                        <input tabindex="0" type="text" id="LogoUrl" class="form-control mb-2" />
                        <label for="LinkUrl" class="mt-1">Link Url</label>
                        <input tabindex="0" type="text" id="LinkUrl" class="form-control mb-2" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnUpdateSocialMediaClose" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" id="btnUpdateSocialMedia" class="btn btn-success">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Dashboard/Index">Anasayfa</a> /</span> Sosyal Medyalar</h4>
    <div class="card">
        <h5 class="card-header">Sosyal Medya Listesi</h5>
        <div class="table-responsive text-nowrap" id="socialMediaList">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sosyal Medya</th>
                        <th>Logo</th>
                        <th>LinkUrl</th>
                        <th>Durum</th>
                        <th>Aksiyon</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Name</td>
                            <td>@item.LogoUrl</td>
                            <td>@item.LinkUrl</td>
                            <td>
                                <a href="/Admin/SocialMedia/IsApproved/@item.SocialMediaId">
                                    @{
                                        if (item.IsActive == true)
                                        {
                                            <span style="font-size:medium" class="badge bg-label-success me-1"><i class="fas fa-thumbs-up"></i></span>
                                        }
                                        else
                                        {
                                            <span style="font-size:medium" class="badge bg-label-danger me-1"><i class="fas fa-thumbs-down"></i></span>
                                        }
                                    }
                                </a>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item btn-updateSocialMedia" data-toggle="modal" data-target="#updateSocialMedia" data-id=@item.SocialMediaId><i class="fas fa-sync"></i> Güncelle</button>
                                        <button class="dropdown-item btn-deleteSocialMedia" data-id=@item.SocialMediaId><i class="bx bx-trash me-1"></i> Sil</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("#socialMediaList").on('click', '.btn-deleteSocialMedia', function () {
        let socialMediaId = $(this).data('id');
        Swal.fire({
            title: "Sosyal Medyayı Silmek İstediğinizden Emin Misiniz?",
            text: "Bu işlemin geri dönüşü olmayacaktır.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, sil.",
            cancelButtonText: "İptal Et."
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "post",
                    url: "/Admin/SocialMedia/DeleteSocialMedia/" + socialMediaId,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        Swal.fire({
                            title: "İşlem Başarılı!",
                            text: "Seçtiğiniz sosyal medya başarılı bir şekilde silindi.",
                            icon: "success"
                        }).then(() => {
                            // Sayfayı yenile
                            location.reload();
                        });
                    }
                });
            }
        });
    });

    $("#socialMediaList").on('click', '.btn-updateSocialMedia', function () {
        let Id = $(this).data("id");
        console.log(Id);
        $.ajax({
            url: "/Admin/SocialMedia/GetSocialMedia/" + Id,
            type: "GET",
            dataType: "json",
            success: function (funkGetSocialMedia) {
                let response = JSON.parse(funkGetSocialMedia);
                console.log(response);
                // Blgileri popup içinde doldur
                $("#Name").val(response.Name);
                $("#SocialMediaId").val(response.SocialMediaId);
                $("#LogoUrl").val(response.LogoUrl);
                $("#LinkUrl").val(response.LinkUrl);
                // Popup'ı göster
            },
            error: function () {
                Swal.fire({
                    title: "HATA",
                    text: "Duyuru bilgileri yüklenemedi.",
                    icon: "warning"
                });
            }
        });
    });
    $("#btnUpdateSocialMedia").click(function () {
        var formData = new FormData();
        formData.append("SocialMediaId", $("#SocialMediaId").val());
        formData.append("Name", $("#Name").val());
        formData.append("LogoUrl", $("#LogoUrl").val());
        formData.append("LinkUrl", $("#LinkUrl").val());

        $.ajax({
            url: "/Admin/SocialMedia/UpdateSocialMedia/",
            data: formData,
            contentType: false,
            processData: false,
            type: "POST",
            success: function (funkUpdateSocialMedia) {
                if (funkUpdateSocialMedia.success) {
                    Swal.fire({
                        title: "Rol Güncelleme İşlemi Başarılı!",
                        text: "Yeni rol başarıyla oluşturuldu.",
                        icon: "success",
                    }).then(() => {
                        location.reload();
                    });
                    $("#btnUpdateSocialMediaClose").click();
                } else {
                    Swal.fire({
                        title: "Hata!",
                        text: funkUpdateSocialMedia.message,
                        icon: "error"
                    });
                }
            },
            error: function () {
                Swal.fire({
                    title: "Beklenmeyen Hata!",
                    text: "Bir hata oluştu, lütfen tekrar deneyin.",
                    icon: "error"
                });
            }
        });
    });

</script>