@{
    ViewData["Title"] = "DestinationDetail";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">About Us</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
            </ul>
        </div>
    </div>
</section>
<div class="row bottom-ab-grids">
    <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
            <div class="row align-items-center">
                <img src=".ImageUrl" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
