@model MailRequest
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Mail /</span> Mail Gönderme</h4>
        <div class="row">
            <h5 class="card-header">Yeni Mail Oluştur </h5>
            <!-- Form controls -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Alıcı Adı Soyadı</label>
                            <input type="text" class="form-control" asp-for="ReceiverName" />
@*                             <span style="color:darkred;font-size:smaller" asp-validation-for="ReceiverName"></span>
 *@                        </div>
                        <div class="mb-3">
                            <label class="form-label">Alıcı Mail Adresi</label>
                            <input type="text" class="form-control" asp-for="ReceiverMail" />
@*                             <span style="color:darkred;font-size:smaller" asp-validation-for="ReceiverMail"></span>
 *@                        </div>
                        <div class="mb-3">
                            <label class="form-label">Konu</label>
                            <input type="text" class="form-control" asp-for="Subject" />
@*                             <span style="color:darkred;font-size:smaller" asp-validation-for="Subject"></span>
 *@                        </div>
                        <div class="mb-3">
                            <label class="form-label">Metin</label>
                          @*   <input type="text" class="form-control" asp-for="Subject" /> *@
@*                             <span style="color:darkred;font-size:smaller" asp-validation-for="Subject"></span>
 *@                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Mail Gönder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
