@model SearchReservationDefaultViewModel
<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal/assets/images/banner1.jpg", "/Traversal/assets/images/banner2.jpg","/Traversal/assets/images/banner3.jpg", "/Traversal/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Önemli olanı bulmak için çok uzağa gitmenize gerek yok.</h3>
                        <h6 class="mb-3">Bir sonraki maceranızı keşfedin...</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form asp-action="DestinationSearch" asp-controller="Destination" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">
                                        @Html.DropDownListFor(x => x.ContinentId, (List<SelectListItem>)ViewBag.continent,"-- Kıta Seçin --",new { @class = "form-control",@style="background-color:white" })           
                                    </div>
                                    <div class="form-input col-md-4 mt-md-0 mt-3">
                                        <input type="date" asp-for="DestinationDate" placeholder="Tarih" required="">
                                    </div>
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary">
                                            <span class="fa fa-search mr-3"
                                                  aria-hidden="true"></span> Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>