@{
    ViewData["Title"] = "GuideDetail";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Rehber Bilgileri</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Guide/Index">Rehberler</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İlber ORTAYLI </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                        <div class="cont-details">
                            <img src="~/Traversal/assets/images/team1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 contact-right">
                    <div class="row">
                        <div class="col">
                            <h6 class="mt-4">Adı:</h6>
                            <p> İlber ORTAYLI</p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Eposta:</h6>
                            <p>
                                <a href="mailto:info@batuhanyalin.com">
                                    info@batuhanyalin.com
                                </a>
                            </p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Eposta:</h6>
                            <p>
                                <a href="mailto:info@batuhanyalin.com">
                                    info@batuhanyalin.com
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="mt-4">Adı:</h6>
                            <p> İlber ORTAYLI</p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Eposta:</h6>
                            <p>
                                <a href="mailto:info@batuhanyalin.com">
                                    info@batuhanyalin.com
                                </a>
                            </p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Eposta:</h6>
                            <p>
                                <a href="mailto:info@batuhanyalin.com">
                                    info@batuhanyalin.com
                                </a>
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h6 >Hakkında:</h6>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend eros vitae eros venenatis condimentum. Nulla bibendum porta elit, eget consectetur orci mattis sit amet. Fusce finibus, erat at accumsan laoreet, libero dolor congue velit, et porttitor sem sem ut nunc. Quisque ac convallis dui, luctus malesuada dolor. Nullam fermentum neque non euismod gravida. Proin nec interdum magna. Sed orci metus, aliquet a faucibus eu, tincidunt eget quam. Etiam quis massa eu sem feugiat maximus nec vel diam. Maecenas hendrerit sed nunc id facilisis. Sed consectetur lorem ac euismod pharetra. Aliquam erat volutpat. Quisque porta eget sapien ut euismod. Duis vitae tortor eros. Nullam mattis eros quis nibh tristique suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>