
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Rehberlerimiz</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rehberler </li>
            </ul>
        </div>
    </div>
</section>


<section class="w3l-team" id="team">
    <div class="team-block py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="sub-title">Ekibimizdeki</h6>
                <h3 class="hny-title">Tur Rehberleri</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal/assets/images/team1.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Alexander</a></h3>
                            <span class="post">Description</span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal/assets/images/team2.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Victoria</a></h3>
                            <span class="post">Description</span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Smith roy</a></h3>
                            <span class="post">Description</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal/assets/images/team4.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Johnson</a></h3>
                            <span class="post">Description</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>