@model AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Anasayfa /</span> Unit of Work Hesap Sistemi</h4>
    <div class="row">
        <h5 class="card-header">Para Gönderme Sistemi </h5>
        <form method="post">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Alıcı</label>
                            <input type="text" id="ReceiverName" class="form-control" asp-for="ReceiverId" />                      
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gönderici</label>
                            <input type="text" id="ReceiverMail" class="form-control" asp-for="SenderId" />                   
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Miktar</label>
                            <input type="text" id="Subject" class="form-control" asp-for="Amount" />                     
                        </div>
                        <div class="mb-3">
                            <button id="btnSendMail" class="btn btn-success"> Ödemeyi Gerçekleştir</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
