<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            , Tüm hakları saklıdır. ❤️
            <a href="https://github.com/batuhanyalin" target="_blank" title="Github Repo" class="footer-link fw-bolder">Batuhan YALIN</a>
        </div>
        <div>
            <a href="/Admin/ReportExcel/Index" class="footer-link me-4" target="_blank">Raporlar</a>
            <a href="/About/Index" target="_blank" class="footer-link me-4">Hakkımızda</a>

            <a href="/Guide/Index"
               target="_blank"
               class="footer-link me-4">Rehberler</a>

            <a href="/Destination/Index"
               target="_blank"
               class="footer-link me-4">Turlar</a>
        </div>
    </div>
</footer>