@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Anasayfa /</span> AJAX</h4>
    <div class="card">
        <h5 class="card-header">AJAX İşlemleri</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Şehir Listesi</th>
                        <th>Şehir Getir</th>
                        <th>Şehir Ekle</th>
                        <th>Şehir Sil</th>
                        <th>Şehir Güncelle</th>
                    </tr>
                </thead>

                <tbody class="div margin ayarlamatable-border-bottom-0">
                    <tr>
                        <td><button id="btnGetList" class="btn btn-outline-info" type="button">İŞLEM</button></td>
                        <td><button id="btnGetCity" class="btn btn-outline-primary" type="button">İŞLEM</button></td>
                        <td><button id="btnAddCity" class="btn btn-outline-success" type="button">İŞLEM</button></td>
                        <td><button id="btnDeleteCity" class="btn btn-outline-danger" type="button">İŞLEM</button></td>
                        <td><button id="btnUpdateCity" class="btn btn-outline-warning" type="button">İŞLEM</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="px-3 row">
            <div class="col md-6">
                <h4>Yeni Tur Bilgileri</h4>
                <br />
                <input type="text" placeholder="Ülke" class="form-control" id="txtCountry" />
                <br />
                <input type="text" placeholder="Şehir" class="form-control" id="txtCity" />
                <br />
                <input type="text" placeholder="Gün bilgisi" class="form-control" id="txtDayNight" />
                <br />
                <input type="number" placeholder="Konaklayacak kişi sayısı" class="form-control" id="txtCapacity" />
                <br />
                <input type="text" placeholder="Fiyat" class="form-control" id="txtPrice" />
                <br />
            </div>
            <div id="cityList" class="col md-6">
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnGetList").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "JSON",
            type: "GET",
            url: "/Admin/City/CityList",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th>Ülke</th> <th>Şehir</th> <th>Gün</th> <th>Fiyat</th> </tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.Country}</td><td>${value.City}</td><td>${value.DayNight}</td><td>${value.Price} $</td></tr>`
                });
                tablehtml += "</table>";
                $("#cityList").html(tablehtml);
            }
        });
    });

    $("#btnAddCity").click(function () {
        let destination = {
            Country: $("#txtCountry").val(),
            City: $("#txtCity").val(),
            Price: $("#txtPrice").val(),
            DayNight: $("#txtDayNight").val(),
            Capacity: $("#txtCapacity").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/AddDestination/",
            data: destination,
            success: function (func2) {
                let result = jQuery.parseJSON(func2);
                alert("Tur başarılı şekilde eklendi.");
            }
        });
    });
</script>