@model DashboardStatisticCardModel
<div class="card">
    <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between">
            <div class="avatar flex-shrink-0">
                <i style="font-size:xx-large" class=" fas fa-dollar-sign"></i>
            </div>
        </div>
        <span class="d-block mb-1">Ağustos</span>
        <h3 class="card-title text-nowrap mb-2">$22,456</h3>
        <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -14.82%</small>
    </div>
</div>